/*MAIN
------------------------------------*/

/*Section Banner
-----------------------------------*/
.banner {
    padding: 0;
    position: relative;
}

h1 {
    font-family: "Dancing Script", cursive;
    color: #071c34;
    font-size: clamp(4rem,5vw,6rem);
    padding: 0 2rem;
    text-align: center;
    margin: 0 auto;
    text-align: center;
}

.banner video{
    display: block;
    margin: 0 auto;
}
@media (min-width:50em){
    h1{
        position: absolute;
        bottom: 30%;
        background-color: #0000004b;
        color: #ffffff;
        width:max-content;
    }
}

/*Section - About
------------------------------*/
.about{
    background-color: #ffffff;
    border-style: groove;
    border-color: #619dc2;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 0.5rem #619dc2;
    color: #071c34;
    margin: 1rem 2rem;
    padding: 2rem;
}

.about a{
    color: #004000;
    font-style: italic;
    text-decoration: underline;
}


/*Section Facts
---------------------*/

.interesting-facts{
    background-color: #ffffff;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.interesting-facts h2{
    width: 100%;
    margin-top: 0;
}

.fact{
    max-width: clamp(300px, 90%, 400px);
    padding: 1rem;
    margin: 0.5rem auto;
}

.interesting-facts figure{
    background-color: #ffffff;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.taj{
    background-color: #D9985F;
}

.antilia{
    background-color: #619dc2;
}

.ganesh{
    background-color: #D9985F;
}

.railway{
    background-color: #619dc2;
}

.dabbawalla{
    background-color: #D9985F;
}
.fact-image figcaption{
    padding: 0.25rem;
    text-align: center;
}

.fact-image figcaption{
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    font-weight: 500;
}
article p{
    color: #000000;
    padding: 1rem 2rem;
}

@media (min-width: 50em){
    .interesting-facts{
        display: block;
        padding: 1rem 0;
    }

    .fact{
        min-width: 99%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .interesting-facts .taj,
    .interesting-facts .ganesh,
    .interesting-facts .dabbawalla{
        flex-direction: row-reverse;
    }

    .fact-image{
        display: inline-block;
        width: clamp(250px,30%,350px);
    }

    .fact blockquote{
        width: 50%;
        padding: 2rem;
        height: max-content;
    }
}

/*FORM
--------------------------------*/

/*parts of the next 3 blocks of code have been referred from:
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Images_media_form_elements */

input[type="text"],
input[type="email"],
textarea,
input[type="file"] {
  border: 2px solid #071c31;
  margin: 0 0 1em 0;
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
    border: 3px solid #333;
    background-color: #002a45;
    border-radius: 5px;
    padding: 10px 2em;
    font-weight: bold;
    color: #fff;
  }
  
  input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #333;
  }

  .btn-submit{
    margin: 1rem auto;
    width: max-content;
  }

.personal-information,
.user-comment{
    margin: 1rem auto;
    max-width: 500px;
    background-color: #ddf2ff;
}

.personal-information legend,
.user-comment legend{
    background-color: #071c34;
    color: #ffffff;
    padding:  0.2rem 0.5rem;
}

@media (min-width:50em){
    form{
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        gap:  0 2rem;
    }

    fieldset:first-of-type{
        grid-column: 2/3;
    }

    .btn-submit{
        grid-row: 2/3;
        grid-column: 2/span 2;
    }
}


/* Section- contact me 
----------------------------------*/

.contact-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;

}

.contact-links li{
    display: inline-block;
}