/*MAIN
--------------------------------*/

/*Banner Section
-------------------------------*/
.banner{
    background-color: #266AA6;
}

h1{
    color: #ffffff;
    width: max-content;
    margin: 0.5rem auto;
}

.collage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.collage a{
    display: block;
    max-width: 300px;
    margin: 1rem;
    padding: 0;
    width: 50%;    
    position:relative;
    height: fit-content;
}

.collage img{
    display: block;
}
.collage h2{
    margin: 0;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    text-align: center;
    color: #ffffff;
    background-color: #0000006c;
    word-wrap: break-word;
    padding: 1rem;
    font-family: "Dancing Script", cursive;
}

@media (min-width:50em){
    .banner{
        margin-top:4.5rem ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 500px 1fr;
        height: calc(100vh - 72px);
    }

    
    h1{
        font-size: clamp(3rem, 5vw, 5rem);
        grid-row: 2/3;
        align-self: center;
    }

    .collage{
        grid-row: 2/3;
        position: relative;
        width: 40rem;
        max-height: 40rem;
        justify-self: center;
    }

    .collage a{
        position: absolute;
    }

    .banner-destinations{
        top: 0%;
        left: 10%;
        z-index: 1;
    }

    .banner-travel{
        top:15%;
        left: 40%;
        z-index: 2;
    }

    .collage a:hover{
        z-index: 3;
    }

}

/*SECTION- CONTENT
-----------------------------*/

.content{
    padding: 2rem;
    /* background-color: #D98A29; */
}

.content h2{
    height: max-content;
    align-self: center;
    color: #022859;
    margin-top: 0;
}

.side-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card figure{
    padding: 0.25rem;
    margin: 1rem auto;
    max-width: 19.75rem;
    height: max-content;
    border-color: #619dc2;
    box-shadow: 0 0 0.25rem #7a7a7a;
    background-color: #ffffff;
}
.card figcaption{
    color: #071c34;
    text-align: center;
    font-family: "Dancing Script", cursive;

}

.card p{
    color: #000000;
    margin: 1rem;
}

@media (min-width:50em){
    .card{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto auto 1fr;
        border-bottom:solid #071c34;
        margin: 0 auto;
        padding: 4.5rem 1rem;
    }

    .card h2{
        font-size: 2rem;
        word-wrap: break-word;
        grid-row: 2/3;
    }

    .card p{
        width: 80%;
        justify-self: center;
        grid-row: 3/4;
    }
    .card .side-grid{
        display: grid;
        gap: 1rem;
        padding: 2rem;
        margin: 0.5rem;
        max-width: 31rem;
        background-color: #022859;
        height: max-content;
    }

    .Destination{
        grid-column: 2/3;
        grid-row: 2/4;
        grid-template-columns: calc(45% - 8px) calc(55% - 8px);
        grid-template-rows: calc(45% - 8px) calc(55% - 8px);
    }
    .Destination .sgnp{
        grid-row: 1/span 2;
        grid-column: 2/3;
    }
    .Destination .vt-station{
        grid-row:1/2;
    }
    .card figure{
        border: none;
        margin: 0;
        box-shadow: none;
        height: 100%;
        width: 100%;
        max-width: none;
    }

    .card img{
        height: calc(100% - 32px);
        width: 100%;
        object-fit: cover;
    }
    .travels{
        grid-row: 2/4;
        grid-column: 1/2;
        grid-template-columns: calc(50% - 8px) calc(50% - 8px);
        grid-template-rows: calc(40% - 8px) calc(60% - 8px);
        align-items: start;
    }
}